* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2, h3, h4, h5, h6, p {
  color: white;
}

h1 {
  text-transform: uppercase;
  font-family: "upgrade", sans-serif;
  font-weight: 500;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 330px 1fr;
}

.menu {
  background-color: #071013;
  height: 2158px;
}
.menu a {
  text-decoration: none;
}
.menu img {
  display: block;
  margin: auto;
  margin-top: 160px;
}
.menu ul {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  letter-spacing: 4px;
  margin-top: 90px;
  list-style-type: none;
}
.menu ul li {
  text-align: center;
  margin-bottom: 60px;
}
.menu ul li p {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin: auto;
  text-align: center;
}
.menu ul li p::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: -20px;
  left: 0;
  transition: all 0.4s ease;
}
.menu ul li p:hover::after {
  width: 100%;
}

.main {
  background-color: darkgreen;
}
.main .header-text {
  position: absolute;
  top: 297px;
  left: 225px;
}
.main header {
  position: relative;
  z-index: 0;
  height: 700px;
  background-image: url(assets/black-man-with-cap-and-watch.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main header h1 {
  box-sizing: content-box;
  font-family: "upgrade", sans-serif;
  letter-spacing: 4px;
  font-size: 64px;
  text-align: right;
  text-transform: uppercase;
}
.main header h1::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 130px;
  background-color: white;
  right: -35px;
  top: 50%;
  transform: translateY(-50%);
}
.main header p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  position: absolute;
  bottom: 20px;
  letter-spacing: 2px;
  right: -320px;
}
.main .featured-collection-container {
  display: flex;
  flex-direction: row;
  height: 423px;
}
.main .featured-collection-container h1 {
  text-transform: uppercase;
  font-family: "upgrade", sans-serif;
  font-weight: 500;
  letter-spacing: 4px;
  text-align: center;
  margin-top: 160px;
}
.main .featured-collection-container .hoodies-container {
  background-color: darkred;
  background-image: url(assets/Black-Lifestyle-Back.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.main .featured-collection-container .summer-container {
  background-color: orange;
  background-image: url(assets/palm-trees.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main .featured-collection-container .accessories-container {
  background-color: grey;
  background-image: url(assets/black-man-with-headphones.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main .featured-collection-container > div {
  flex: 1;
}
.main .catalogue-container {
  height: 400px;
  background: white;
  background-image: url(assets/graffiti-walls.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  position: relative;
}
.main .catalogue-container h1 {
  top: 100px;
  left: 650px;
  position: absolute;
  font-size: 64px;
  text-align: right;
}
.main .catalogue-container h1::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 130px;
  background-color: white;
  right: -35px;
  top: 50%;
  transform: translateY(-50%);
}
.main .about-us-container {
  display: grid;
  height: 635px;
  grid-template-columns: 1fr 1fr;
}
.main .about-us-container .about-us-square {
  background-color: darkcyan;
  position: relative;
  background-image: url(assets/women-facing-away.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main .about-us-container .about-us-square h1 {
  font-size: 64px;
  position: absolute;
  top: 247px;
  left: 96px;
}
.main .about-us-container .about-us-square h1::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 130px;
  background-color: white;
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
}
.main .about-us-container .photo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.main .about-us-container .photo-grid .photo-square1 {
  background-color: darkorange;
  background-image: url(assets/man-facing-wall-with-symbols.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main .about-us-container .photo-grid .photo-square2 {
  background-color: darkred;
  background-image: url(assets/women-standing-on-fence.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main .about-us-container .photo-grid .photo-square3 {
  background-color: darkgoldenrod;
  background-image: url(assets/man-opening-smoke.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main .about-us-container .photo-grid .photo-square4 {
  background-color: darkslateblue;
  background-image: url(assets/women-facing-down.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 240px;
}
.footer h2 {
  font-family: "upgrade", sans-serif;
  text-transform: uppercase;
  width: 200px;
  color: #071013;
  font-weight: 400;
  text-align: center;
  position: relative;
}
.footer h2::before {
  content: url(assets/Deco.png);
  position: absolute;
  top: -10px;
  left: 0px;
}
.footer p {
  text-transform: uppercase;
  color: #071013;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
  text-align: center;
}

.fixed-menu {
  display: none;
}

@media only screen and (max-width: 1600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .full-screen-menu {
    display: none;
  }

  .menu-content-container {
    background-color: rgba(7, 16, 19, 0.95);
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 0px;
    transform: translateY(-200);
    opacity: 0;
    transition: all 0.4s ease;
  }

  .fixed-menu {
    display: block;
    position: fixed;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .fixed-menu .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
    margin: 1rem;
  }
  .fixed-menu .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-left: 30px;
  }
  .fixed-menu .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  .fixed-menu .hamburger > div::before, .fixed-menu .hamburger > div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: inherit;
    background-color: inherit;
  }
  .fixed-menu .hamburger > div::after {
    top: 10px;
  }
  .fixed-menu .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  .fixed-menu .toggler:checked + .hamburger > div::before, .fixed-menu .toggler:checked + .hamburger > div::after {
    top: 0;
    transform: rotate(90deg);
  }
  .fixed-menu .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }

  .fixed-menu .toggler:checked ~ .menu {
    visibility: visible;
    opacity: 1;
    height: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
